@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
    background-color: black;
    color: white;
    border-color: black;
}

/* Màu nền và chữ đồng nhất */
/* Mặc định ẩn menu cấp con */
ul.hidden {
    display: none;
}

/* Hiển thị menu cấp con khi hover vào cha */
.group:hover > ul {
    display: block;
}

/* Kiểu dáng menu */





