* {
    padding: 0;
    margin: 0;
}

.inner-search form {
    position: relative;
}

.inner-search input {
    flex: 1;
}

.inner-search button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.selected {
    background-color: black;
    color: white;
    border-color: black;
}




